@font-face {
  font-family: 'irNast';
  src: url('./assets/IranNastaliq.ttf');
}

@font-face {
  font-family: 'irsans';
  src: url('./assets/irsans.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'irsans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DAD4B5;
}